<h1> Index of questions </h1>

<% if !@question.blank? %>
	<% @question.each do |q| %>
		puts q
	<% end %>
<% else %>
	<h3> It seems that you haven't created any question :(</h3>
<% end %>

<%= link_to 'Create Question', question_new_path %>
