<h1>Question#new</h1>
<p>Find me in app/views/question/new.html.erb</p>

<%= form_for @question do |f| %>
	<%= f.label :year %>
	<%= f.label :year %>

	<%= f.label :area %>
	<%= f.label :area %>
	
	<%= f.submit  %>
<% end %>
